<h1>{{ investor.id }}</h1>

<table>
        <tr>
            <td>Blocktopus ID: {{ investor.blocktopusid }}</td>
        </tr>
        <tr>
            <td>Token: {{ investor.token }}</td>
        </tr>
        <tr>
            <td>Public Address{{ investor.public_address }}</td>
        </tr>
        <tr>
            <td>Verto Address: {{ investor.verto_address }}</td>
        </tr>
        <tr>
            <td>KYC Date: {{ investor.kyc_date }}</td>
        </tr>
        <tr>
            <td>Whitelist Date:{{ investor.whitelist_date }}</td>
        </tr>
    </table>