*~
*.pyc
__pycache__
server/static/
server/media/
server/logs/
*.log
.DS_Store
*.sqlite3
dump.rdb
*.pid
celerybeat-schedule
crowdfund_app/
node_modules/
.vscode/
.cache/
.coverage
.env
dist/
venv/
static/
media/
.pytest_cache/
